<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="true"
         bootstrap="./Tests/bootstrap.php">
    <testsuites>
        <testsuite name="ZFFuckingGreatAdviceService">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>
	<filter>
	  <whitelist>
	    <directory>./Ulrika</directory>
	  </whitelist>
	</filter>    
</phpunit>